@model IEnumerable<ShoesOnline.Models.ctDonHang>
@{
    ViewBag.Title = "DeleteOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Order Details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Order Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Order Details Table</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <div class="input-group-append">
                                    @using (Html.BeginForm())
                                    {
                                        <input type="submit" value="Delete" class="btn btn-primary btn-block">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Số DH</th>
                                    <th>Mã SP</th>
                                    <th>Số lượng</th>
                                    <th>Giá bán</th>
                                    <th>Giảm giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.soDH)</td>
                                        <td>@Html.DisplayFor(modelItem => item.maSP)</td>
                                        <td>@Html.DisplayFor(modelItem => item.soLuong)</td>
                                        <td><span class="tag tag-success">@Html.DisplayFor(modelItem => item.giaBan)</span></td>
                                        <td>@Html.DisplayFor(modelItem => item.giamGia)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- jQuery -->
<script src="/AdminFE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/AdminFE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/AdminFE/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/AdminFE/dist/js/demo.js"></script>


