@model ShoesOnline.Models.QuanTriVien
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Recover Password (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminFE/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/AdminFE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminFE/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="@Url.Action("Index","Admin")" class="h1"><b>Bitis</b>'s</a>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("RecoverPasswordAdmin", "Admin", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger"})
                    <form action="login.html" method="post">
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(obj => obj.email, new { @class = "form-control", @placeholder = "Email" } )
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(obj => obj.matKhauQTV, new { @class = "form-control", @placeholder = "Password" } )
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(obj => obj.newpass, new { @class = "form-control", @placeholder = "New password" } )
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(obj => obj.confirmpass, new { @class = "form-control", @placeholder = "Confirm password" } )
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Change password</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <p class="mt-3 mb-1">
                        <a href="@Url.Action("Login","Admin")">Login</a>
                    </p>
                }
                </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="/AdminFE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/AdminFE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminFE/dist/js/adminlte.min.js"></script>
</body>
</html>

