@model ShoesOnline.Models.taiKhoanTV
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .adloginbtn {
        float: right;
        outline: none;
        padding: 11px 20px;
        color: #FFF;
        background: #034ea1;
        width: 31%;
        text-align: center;
        margin: 1em auto 0;
        text-decoration: none;
    }

        .adloginbtn :hover {
            background: #000;
            outline: none;
        }
</style>
<div class="container">
    <div class="account">
        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <h1>ĐỔI MẬT KHẨU</h1>
            <div class="account-pass">
                <div class="col-md-8 account-top">
                    <form>
                        <div>
                            <span>Email</span>
                            <span type="text">
                                @Html.TextBoxFor(obj => obj.email, new { @class = "form-control", @placeholder = "Email" })
                            </span>
                        </div>
                        <div>
                            <span>Password</span>
                            <span type="password">
                                @Html.PasswordFor(obj => obj.matKhau, new { @class = "form-control", @placeholder = "Password" })
                            </span>
                        </div>
                        <div>
                            <span>New Password</span>
                            <span type="password">
                                @Html.PasswordFor(obj => obj.newpass, new { @class = "form-control", @placeholder = "New password" })
                            </span>
                        </div>
                        <div>
                            <span>Confirm Password</span>
                            <span type="password">
                                @Html.PasswordFor(obj => obj.confirmpass, new { @class = "form-control", @placeholder = "Confirm password" })
                            </span>
                        </div>
                        <input type="submit">
                    </form>
                    <br />
                    <b>@ViewBag.Notification</b>
                </div>
                <div class="col-md-4 left-account ">
                    <a href="single.html"><img class="img-responsive " src="~/Asset/bottom/bottom8.jpg" alt=""></a>
                    <div class="five">
                        <h2>25% </h2><span>discount</span>
                    </div>
                    <a href="@Url.Action("Register","User")" class="create">TẠO TÀI KHOẢN</a>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        }
    </div>
</div>

